<div class="post-header">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <h4><a href="/">PRAVENDRA SINGH</a></h4>
      </div>
      <div class="six columns">
        <nav>
          <ul class="nav-list">
            <!--
            <li><a href="/about" title="About Me"><i class="icon-user"></i></a></li>
            <li><a href="/blog" title="Articles"><i class="icon-article-alt"></i></a></li>
            <li><a href="/projects" title="Books"><i class="icon-book"></i></a></li>
            <li><a href="/quotes" title="Quotes"><i class="icon-quote-left"></i></a></li>
            -->
            
            <li><a href="/about" title="About Me"><span style="font-size:10px;">About</span></a></li>
            <li><a href="/blog" title="Articles"><span style="font-size:10px;">Articles</span></a></li>
            <li><a href="/projects" title="Books"><span style="font-size:10px;">Books</span></a></li>
            <!--<li><a href="/quotes" title="Quotes"><span style="font-size:10px;">Quotes</span></a></li>-->
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
